* {
	margin: 0;
	padding: 0;
	box-sizing:
	border-box;
}

body {
	font: 13px Helvetica, Arial;
}

/*--- Chat box ---*/
#chat-box  {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 250px;
}

form  {
	background-color: #C3A555;
	padding: 3px;
}

form input {
	border: 0;
	padding: 10px;
	width: 80%;
	margin-right: .5%;
}

form button {
	width: 19%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 250px;
	max-height: 300px;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#messages li:nth-child(even) {
	background: #fff;
}

#debug-window {
	position: fixed;
	top:0;
	right:0;
	width: 200px;
	color: #8c0000;
	padding-left: 5px;
	background-color: rgba(255,255,255,.7);
}

#target-box, #user-box {
	background-color: #bfac74;
	position: absolute;
	top: 10px;
	max-width: 200px;
	width: 20%;
	padding: 5px;
	border-radius: 5px;
}

#target-box {
	left: 40%;
}

#user-box {
	left: 10px;
}

#target-name-frame, #user-name-frame {
	text-align: center;
}

#target-hp-frame, #user-hp-frame {
	width: 100%;
	margin-top: 5px;
	background-color: orange;
	padding: 2px;
	border-radius: 3px;
}

#target-hp, #user-hp {
	height: 16px;
	width: 100%;
	background-color: red;
	border-radius: 2px;
}
